@import 'variablesmixins.scss';

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 1.5em 0;
}

#app {
  min-height: 100%;
}

html, body {
  color: $black;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.05);
  height: 100%;
  min-height: 100%;
}


a {
 text-decoration: none;
}

li a {
  color: $black;
}

.container {
  padding: $padding;
  margin: 0 auto;
  max-width: 960px;

  &--solid {
  @include neuOutset;
  margin: 0 auto;
  max-width: 960px;
  background-color: $light-on-dark;
  padding: $padding;

  }
}

ul li {
  list-style-type: none;
  padding: 1em 0;
}

.splashbg {
  background-color: $colored-light-bg;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: fadein 1s ease-in;
}

.listentry {
  &__title {
    display: block;
    font-weight: $boldWeight;
  }

  &__overview {
    display: block;
    font-size: 85%;
  }

  &--inline {
    display: inline;
    padding-right: $padding;
  }
}


.mouseover-content {
  cursor: pointer;
  cursor: hand;
}

html {
  position: relative;
  min-height: 100%;
}


.form, form {
  display: flex;
  flex-direction: column;

  &__group, &__group--error {
    display: block;
    padding: 0.5em 0;
    transition: .25s all ease-in-out;
  }
}


input, select {
  @include neuInset;
  width: 100%;
  padding: $padding / 2;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: $border-radius;
  transition: .25s all ease-in-out;
  background: linear-gradient(145deg, transparent, $gray );
  height: $input-height;
}

input:active,
input:focus {
  background: #ffffff;
  border: 0px solid $secondary;
  transition: .25s all ease-in-out;
  outline: none;
}

.search {
  position: relative;

  &__buttonblock {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    height: 3em;
    margin: 0; 

    & button, & span {
      height: $input-height;
      padding: 0 $padding;
      margin: 0;
      box-shadow: none;
      border-radius: 0 $border-radius $border-radius 0;
    }
    
    & span {
      color: $dark-on-light;
      box-shadow: none;
    }
  }
}

.loader {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  
  &__animation {
    height: $padding * 3;
    width: $padding * 3;
    display: block;
    background-color: $primary;
    border-radius: 100%;
    animation: loadpulse 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
}

@keyframes fadein {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

@keyframes loadpulse {
  0% {
    transform: scale(0.33);
    opacity: 0;
  }
  60% {
    transform: scale(0.66);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button, .button {
  transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
  border: 0px solid transparent;
  color: $light-on-dark;
  font-weight: $boldWeight;
  padding: $padding;
  border-radius: $border-radius;
  letter-spacing: 0.66px;
  background: linear-gradient(145deg, $primary, $primary-darken);

  &:hover {
    cursor: pointer;
    cursor: hand;
    background-color: $primary-lighten;
    border-color: $primary;
    transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
  }

  &:focus {
    box-shadow: 0 0 0px 3px $secondary;
    outline: none;
  }

  &--disabled, &--disabled:hover, &--disabled:focus {
    @include neuOutset;
    border: none;
    color: $gray-darken;
    background-color: $gray;
    background: $gray;
  }

  &--textonly {
    background: none;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: none;
    }
  }
}